/* ===== Загальні стилі ===== */
.root {
    -fx-background-color: #20181c;
    -fx-font-family: "Segoe UI", "Roboto", "Raleway", sans-serif;
    -fx-alignment: center;
}

/* ===== Заголовок (тайтл) ===== */
.title-label {
    -fx-font-family: "Segoe UI";
    -fx-font-size: 23px;
    -fx-background-radius: 20px;
    -fx-background-color: #000000;
    -fx-pref-width: 250px;
    -fx-pref-height: 60px;
    -fx-alignment: center;
    -fx-border-color: #fb64a4;
    -fx-border-width: 1px;
    -fx-border-radius: 10px;
    -fx-padding: 10px;
    -fx-text-fill: #fb64a4;
    -fx-effect: dropshadow(gaussian, #000000, 18, 0.7, 0, 0);
}

/* ===== Кнопка ===== */
.button {
    -fx-background-color: #fb64a4;
    -fx-text-fill: #000000;
    -fx-font-size: 15px;
    -fx-pref-width: 240px;
    -fx-pref-height: 50px;
    -fx-cursor: hand;
    -fx-background-radius: 10px;
    -fx-border-color: #181a20;
    -fx-border-width: 1px;
    -fx-border-radius: 10px;
    -fx-effect: dropshadow(gaussian, #fb64a4, 15, 0.8, 0, 0); /* Неонова підсвітка */
    -fx-transition: all 0.3s ease;
    -fx-translate-y: 25px;
}

.button:hover {
    -fx-background-color: #000000;
    -fx-border-color: #fb64a4;
    -fx-text-fill: #fb64a4;
    -fx-effect: dropshadow(gaussian, #000000, 15, 0.8, 0, 0); /* Неонова підсвітка */
}

/* ===== Поля введення ===== */
.text-field, .password-field {
    -fx-background-color: #000000;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-border-color: #fb64a4;
    -fx-border-radius: 8px;
    -fx-background-radius: 8px;
    -fx-padding: 8px;
}
.text-field{
    -fx-translate-y: 15px;
}

/* ===== Додатковий лейбл ===== */
.bottom-label {
    -fx-text-fill: #999999;
    -fx-font-size: 12px;
    -fx-translate-y: 30px;
}

